#admin-content {
  .card-img-head {
    margin-bottom: 20px;
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
  }

  .file-label {
    width: inherit;
    height: inherit;
    cursor: pointer;
  }

  .card-player {
    width: 100%;
    margin-bottom: -10px;
    padding-bottom: 0;
  }

  .admin-card {
    max-height: 60vh;
    overflow-y: scroll;
  }

  .marker-color {
    display: flex;
    align-items: center;
    line-height: 25px;
    .dot {
      display: inline-block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-left: 0.5rem;
    }
  }
}
