#admin-content {
  .card-img-head {
    margin-bottom: 20px;
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
  }

  .file-label {
    width: inherit;
    height: inherit;
    cursor: pointer;
  }

  .card-player {
    width: 100%;
    margin-bottom: -10px;
    padding-bottom: 0;
  }

  .admin-card {
    max-height: 60vh;
    overflow-y: scroll;
  }

  .card-show-map {
    height: 100%;
    width: 100%;

    @media only screen and (max-width: 768px) {
      height: 500px;
    }
  }
}
