#map {
  margin: 0 auto 0 auto;

  #card-popup {

    .card-player {
      width: 98%;
    }
  }

  .mapboxgl-popup-close-button {
    font-size: 2rem;
    z-index: 1000;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 1px 1px 1px gray;
    left: calc(18rem + 5px);
    top: -10px;

    &:hover {
      background-color: gainsboro;
    }

    transition: background-color .3s;
  }
}